<div class="productCard" (click)="productDetail(product.id)">
  <div class="imageBlock">
    <img [src]="imageSrc" *ngIf="imageSrc" class="image" />
    <div class="like">
      <i class="fa fa-heart" aria-hidden="true"> </i>
      {{ product.invest_goal.participation }}
    </div>
  </div>
  <div class="info">
    <p class="productName">{{ product.name }}</p>
    <hr />
    <div class="progress">
      <span [ngStyle]="{'width':product.invest_goal.achievement_percent | convertToPercent}"></span>
    </div>
    <div class="productInfo">
      <div class="donate">
        <p class="price">
          {{ product.invest_goal.achieved }} <span class="type">تومان </span>
        </p>
        <p class="donated">جمع‌آوری شده</p>
      </div>
      <div class="supported">
        <p class="percent">{{ product.invest_goal.achievement_percent }} %</p>
        <p class="donated">حمایت شده</p>
      </div>
    </div>
  </div>
</div>
