<div class="faq">
  <div class="header">
    <p class="title">استارتر چگونه کار می‌کند؟</p>
    <p class="description">
      رعایت حریم شخصی کاربران برای اسنپ بسیار حائز اهمیت است. در این متن نحوۀ
      ذخیره‌سازی و استفادۀ اسنپ از اطلاعاتی که در نتیجه استفادۀ کاربران از خدمات
      اسنپ در سامانۀ اسنپ ثبت می‌شود شرح داده شده است.
    </p>
  </div>
  <div class="support">
    <div class="supportDeveloper">
      <p class="title titleDeveloper">حمایت از توسعه دهندگان</p>
      <p class="description desDeveloper">
        رعایت حریم شخصی کاربران برای اسنپ بسیار حائز اهمیت است. در این متن نحوۀ
        ذخیره‌سازی و استفادۀ اسنپ از اطلاعاتی که در نتیجه استفادۀ کاربران از
        خدمات اسنپ در سامانۀ اسنپ ثبت می‌شود شرح داده شده است.
      </p>
      <div class="moreInfo">
        <p class="moreInfoTitle">۱- روند قرارگیری بازی</p>
        <p class="moreInfoDes">
          هنگامی که شما اعتبار حساب کاربری خود در اسنپ را از طریق کارت‌های بانکی
          افزایش می‌دهید، شمارۀ تراکنش و پیگیری بانکی در اسنپ ثبت می‌شود. لازم
          به ذکر است، با توجه به اینکه تمامی تراکنش‌های مالی از طریق سامانه‌های
          بانکی صورت می‌گیرد، اسنپ در فرآیند انتقال وجه و یا افزایش اعتبار از
          طریق کارت‌های بانکی هیچ‌گونه دسترسی به اطلاعات کارت بانکی شما ندارد.
        </p>
      </div>
      <div class="moreInfo">
        <p class="moreInfoTitle">۲- چگونه پول بگیریم؟</p>
        <p class="moreInfoDes">
          هنگامی که شما اعتبار حساب کاربری خود در اسنپ را از طریق کارت‌های بانکی
          افزایش می‌دهید، شمارۀ تراکنش و پیگیری بانکی در اسنپ ثبت می‌شود. لازم
          به ذکر است، با توجه به اینکه تمامی تراکنش‌های مالی از طریق سامانه‌های
          بانکی صورت می‌گیرد، اسنپ در فرآیند انتقال وجه و یا افزایش اعتبار از
          طریق کارت‌های بانکی هیچ‌گونه دسترسی به اطلاعات کارت بانکی شما ندارد.
        </p>
      </div>
      <div class="moreInfo">
        <p class="moreInfoTitle">۳- چگونه پول بگیریم؟</p>
        <p class="moreInfoDes">
          هنگامی که شما اعتبار حساب کاربری خود در اسنپ را از طریق کارت‌های بانکی
          افزایش می‌دهید، شمارۀ تراکنش و پیگیری بانکی در اسنپ ثبت می‌شود. لازم
          به ذکر است، با توجه به اینکه تمامی تراکنش‌های مالی از طریق سامانه‌های
          بانکی صورت می‌گیرد، اسنپ در فرآیند انتقال وجه و یا افزایش اعتبار از
          طریق کارت‌های بانکی هیچ‌گونه دسترسی به اطلاعات کارت بانکی شما ندارد.
        </p>
      </div>
      <div class="moreInfo">
        <p class="moreInfoTitle">۴- روند قرارگیری بازی</p>
        <p class="moreInfoDes">
          هنگامی که شما اعتبار حساب کاربری خود در اسنپ را از طریق کارت‌های بانکی
          افزایش می‌دهید، شمارۀ تراکنش و پیگیری بانکی در اسنپ ثبت می‌شود. لازم
          به ذکر است، با توجه به اینکه تمامی تراکنش‌های مالی از طریق سامانه‌های
          بانکی صورت می‌گیرد، اسنپ در فرآیند انتقال وجه و یا افزایش اعتبار از
          طریق کارت‌های بانکی هیچ‌گونه دسترسی به اطلاعات کارت بانکی شما ندارد.
        </p>
      </div>
    </div>
    <div class="supporting">
      <p class="title titleDeveloper">حمایت کردن</p>
      <p class="description desDeveloper">
        رعایت حریم شخصی کاربران برای اسنپ بسیار حائز اهمیت است. در این متن نحوۀ
        ذخیره‌سازی و استفادۀ اسنپ از اطلاعاتی که در نتیجه استفادۀ کاربران از
        خدمات اسنپ در سامانۀ اسنپ ثبت می‌شود شرح داده شده است.
      </p>
      <div class="moreInfo">
        <p class="moreInfoTitle">۱- روند قرارگیری بازی</p>
        <p class="moreInfoDes">
          هنگامی که شما اعتبار حساب کاربری خود در اسنپ را از طریق کارت‌های بانکی
          افزایش می‌دهید، شمارۀ تراکنش و پیگیری بانکی در اسنپ ثبت می‌شود. لازم
          به ذکر است، با توجه به اینکه تمامی تراکنش‌های مالی از طریق سامانه‌های
          بانکی صورت می‌گیرد، اسنپ در فرآیند انتقال وجه و یا افزایش اعتبار از
          طریق کارت‌های بانکی هیچ‌گونه دسترسی به اطلاعات کارت بانکی شما ندارد.
        </p>
      </div>
      <div class="moreInfo">
        <p class="moreInfoTitle">۲- چگونه پول بگیریم؟</p>
        <p class="moreInfoDes">
          هنگامی که شما اعتبار حساب کاربری خود در اسنپ را از طریق کارت‌های بانکی
          افزایش می‌دهید، شمارۀ تراکنش و پیگیری بانکی در اسنپ ثبت می‌شود. لازم
          به ذکر است، با توجه به اینکه تمامی تراکنش‌های مالی از طریق سامانه‌های
          بانکی صورت می‌گیرد، اسنپ در فرآیند انتقال وجه و یا افزایش اعتبار از
          طریق کارت‌های بانکی هیچ‌گونه دسترسی به اطلاعات کارت بانکی شما ندارد.
        </p>
      </div>
    </div>
  </div>
</div>
