$backgroundColor: #231f43;
$cardBackground: #535166;
$textColor: #ffff;
$grayText: #bdbdbd;
$tabContentBackground:#f5f5f5;
$buttonTextColor: #0b2251;
$faqTitleColor: #3a3657;
$faqTextColor: #212121;
$footerColorLine: #424242;
$footerColorLinks: #9e9e9e;
$heartColor: red;
$yellow:#ffcb05;
$linkColor:#0b6ffb;
$tabBackground:#3a3657;
