$smallMargin: 4px;
$baseMargin: 12px;
$mediumMargin: 32px;
$largeMargin: 54px;
$extraLargeMargin:128px;

$smallPadding: 4px;
$basePadding: 12px;
$mediumPadding: 32px;
$largePadding: 54px;
$extraLargePadding:128px;
