<footer>
  <div class="container">
    <hr />
    <div class="footer">
      <div class="links">
        <nav class="bazinamaLinks">
          <a>مجله بازی‌نما </a>
          <a> اپ استور بازی‌نما+ </a>
          <a>اپلیکشن بازی‌نما</a>
          <a>حمایت از بازی‌ها</a>
          <a> اشتراک در بازی‌نما </a>
        </nav>
        <nav class="aboutUsLinks">
          <a>درباره ما</a>
          <a>روند حمایت</a>
          <a>سوالات متداول</a>
          <a>قوانین استفاده</a>
          <a>تماس با ما</a>
        </nav>
      </div>
      <div class="logo">
        <a href="/">
          <img src="assets/images/icon_logo_bw.png" alt="baznima" />
        </a>
        <div class="socialMedia">
          <img src="assets/images/icon_ic_social_aparat.svg" alt="aparat" />
          <img src="assets/images/icon_ic_social_facebook.svg" alt="facebook" />
          <img
            src="assets/images/icon_ic_social_instagram.svg"
            alt="instagram"
          />
          <img src="assets/images/icon_ic_social_telegram.svg" alt="telegram" />
        </div>
      </div>
    </div>
    <p class="yaraGroup">
      این سایت را گیمرهای یاراموبایل با
      <i class="fa fa-heart" aria-hidden="true"> </i> ساخته‌اند.
    </p>
  </div>
</footer>
